

header{
    font-family: 'Tahoma';
    color: red;
    background-color: rgb(243, 243, 217, .90);
    font-size: 50px; 
    padding-inline: 50px;
    text-align: center;  
}

h2{
    color: red;
    background-color: rgb(245, 245, 220);
    border: 2px solid black;
    font-family:  Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    text-align: center;
    
}

body{
    background-image: url("https://img.freepik.com/premium-vector/taco-seamless-pattern-traditional-mexican-food-background_53734-90.jpg?w=2000");
    background-size: cover;
}

.about{
    background-color: rgb(243, 243, 217, .90);
    width: 300px;
    font-family: Tahoma;
    font-size: 20px;
}

button{
    color: crimson;
    font-size: large;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background-color: rgb(243, 243, 217, .90);
    
}


.menu-items p{
    display: inline-block;  
}


.header-img{
    background-color: rgb(255, 255, 255, .1);
    width: 125px;
    height: 100px;
    margin-bottom: 40%;

}

.nav-bar{
    margin-bottom: 50px;
}


.tacos, .bev {
    
    color: red;
    background-color: rgb(243, 243, 217, .95);
    font-family: sans-serif;
    font-weight: bold;
    width:300px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
  }

  .menu-container{
    display: flex;
    justify-content: space-evenly;
  }

  .images{
    display: flex;
    
  }

  .price{
    text-align: right;
    width: 75%;
  }

  .protein, .drink{
    text-align: left;
    width: 25%;
  }